# Ignore creds file
auth/auth.yml
auth/auth_twilio.yml

# Ignore json files
order.json
sold.json
new_listing.json
session.json
kucoin_announcements.json
binance_announcements.json
upcoming_listings.json

# Ignore bot log
bot.log

# Ignore currency list
currencies.json

# Ignore pycache
__pycache__/
auth/__pycache__/

# Ignore config
config.yml

# Ignore test file
test_order.py

# Ignore backups
backups/

.idea